adflab-adf-mowczare/PartialArmTemplates/ArmTemplate_6_3_2020_11_13_41.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adflab-adf-mowczare"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load Data Warehouse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DW Truncate Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_TruncateStaging]"
						},
						"linkedServiceName": {
							"referenceName": "Azure DW DB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ODS Airline to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Staging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "Int32"
										},
										"sink": {
											"name": "Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Airline_Code",
											"type": "String"
										},
										"sink": {
											"name": "Airline_Code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Airline",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Airlane",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ODS Airport to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Staging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City_Airport",
											"type": "String"
										},
										"sink": {
											"name": "City_Airport",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Airport",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Airport",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "ODS Flights to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Staging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "YEAR",
											"type": "Int16"
										},
										"sink": {
											"name": "YEAR",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "MONTH",
											"type": "Int16"
										},
										"sink": {
											"name": "MONTH",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "FL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "FL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UNIQUE_CARRIER",
											"type": "String"
										},
										"sink": {
											"name": "UNIQUE_CARRIER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AIRLINE_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "AIRLINE_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CARRIER",
											"type": "String"
										},
										"sink": {
											"name": "CARRIER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAIL_NUM",
											"type": "String"
										},
										"sink": {
											"name": "TAIL_NUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FL_NUM",
											"type": "Int32"
										},
										"sink": {
											"name": "FL_NUM",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_AIRPORT_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_AIRPORT_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_AIRPORT_SEQ_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_AIRPORT_SEQ_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_CITY_MARKET_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_CITY_MARKET_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_AIRPORT_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_AIRPORT_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_AIRPORT_SEQ_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_AIRPORT_SEQ_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_CITY_MARKET_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_CITY_MARKET_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEP_TIME",
											"type": "String"
										},
										"sink": {
											"name": "DEP_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "DEP_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY_NEW",
											"type": "Double"
										},
										"sink": {
											"name": "DEP_DELAY_NEW",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "TAXI_OUT",
											"type": "Double"
										},
										"sink": {
											"name": "TAXI_OUT",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "WHEELS_OFF",
											"type": "String"
										},
										"sink": {
											"name": "WHEELS_OFF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WHEELS_ON",
											"type": "String"
										},
										"sink": {
											"name": "WHEELS_ON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAXI_IN",
											"type": "Double"
										},
										"sink": {
											"name": "TAXI_IN",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "ARR_TIME",
											"type": "String"
										},
										"sink": {
											"name": "ARR_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "ARR_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY_NEW",
											"type": "Double"
										},
										"sink": {
											"name": "ARR_DELAY_NEW",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "CANCELLED",
											"type": "Boolean"
										},
										"sink": {
											"name": "CANCELLED",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CANCELLATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "Double"
										},
										"sink": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "AIR_TIME",
											"type": "Double"
										},
										"sink": {
											"name": "AIR_TIME",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "FLIGHTS",
											"type": "Int32"
										},
										"sink": {
											"name": "FLIGHTS",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DISTANCE",
											"type": "Int32"
										},
										"sink": {
											"name": "DISTANCE",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CARRIER_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "CARRIER_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "WEATHER_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "WEATHER_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "NAS_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "NAS_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "SECURITY_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "SECURITY_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "DEST_CODE",
											"type": "String"
										},
										"sink": {
											"name": "DEST_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORIGIN_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Flight",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Flights",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Airport')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Flights')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Airport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "City_Airport",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "DimAirport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Flights')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "YEAR",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FL_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UNIQUE_CARRIER",
						"type": "varchar"
					},
					{
						"name": "AIRLINE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "TAIL_NUM",
						"type": "varchar"
					},
					{
						"name": "FL_NUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEP_TIME",
						"type": "varchar"
					},
					{
						"name": "DEP_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEP_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TAXI_OUT",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WHEELS_OFF",
						"type": "varchar"
					},
					{
						"name": "WHEELS_ON",
						"type": "varchar"
					},
					{
						"name": "TAXI_IN",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_TIME",
						"type": "varchar"
					},
					{
						"name": "ARR_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CANCELLED",
						"type": "bit"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AIR_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FLIGHTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISTANCE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WEATHER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "NAS_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SECURITY_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEST_CODE",
						"type": "varchar"
					},
					{
						"name": "ORIGIN_CODE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "FlightFact"
				}
			},
			"dependsOn": []
		}
	]
}